---
- name: Cluster Bloom - RKE2 Kubernetes Cluster Setup
  hosts: all
  become: yes
  gather_facts: true
  gather_subset:
    - min
    - network
  vars:
    FIRST_NODE: true
    GPU_NODE: true
    CONTROL_PLANE: false
    DOMAIN: ""
    CLUSTER_SIZE: small
    SERVER_IP: ""
    JOIN_TOKEN: ""
    NO_DISKS_FOR_CLUSTER: false
    CLUSTER_DISKS: []
    CLUSTER_PREMOUNTED_DISKS: ""
    USE_CERT_MANAGER: false
    CERT_OPTION: ""
    TLS_CERT: ""
    TLS_KEY: ""
    OIDC_URL: ""
    RKE2_EXTRA_CONFIG: ""
    CLUSTERFORGE_RELEASE: "none"
    SKIP_RANCHER_PARTITION_CHECK: false
    ADDITIONAL_TLS_SAN_URLS: ""
    PRELOAD_IMAGES: ""
    CF_VALUES: ""
    BLOOM_DIR: "~/.bloom"
    BLOOM_VERSION: "2.0.0"
    RKE2_VERSION: "v1.31.4+rke2r1"

    ROCM_BASE_URL: "https://repo.radeon.com/amdgpu-install/30.30/ubuntu/"
    ROCM_DEB_PACKAGE: "amdgpu-install_7.2.70200-1_all.deb"
    rke2_installation_url: "https://get.rke2.io"

    supported_ubuntu_versions:
      - "20.04"
      - "22.04"
      - "24.04"

    rke2_ports_tcp:
      - "80"
      - "443"
      - "2376"
      - "2379"
      - "2380"
      - "6443"
      - "9099"
      - "9345"
      - "10250"
      - "10254"
      - "30000:32767"

    rke2_ports_udp:
      - "8472"
      - "30000:32767"

    inotify_target_value: 512
    rancher_min_partition_gb: 500
    bloom_fstab_tag: "# managed by cluster-bloom"

  tasks:
    - name: Pre-deployment Data Safety Validation
      tags: [pre_deployment]
      include_tasks: tasks/data_safety_check.yaml
      vars:
        validate_no_disks_for_cluster: "{{ NO_DISKS_FOR_CLUSTER | default(false) }}"
        validate_cluster_disks: "{{ CLUSTER_DISKS | default('') }}"
        validate_config_file: "{{ ansible_config_file | default('bloom.yaml') }}"

    - name: Node Validation
      tags: [validate_node]
      import_tasks: tasks/validate_node/main.yaml

    - name: Node Preparation
      tags: [prepare_node]
      import_tasks: tasks/prepare_node/main.yaml

    - name: Deploy Cluster Tasks
      tags: [deploy_cluster]
      import_tasks: tasks/deploy_cluster/main.yaml

    - name: Deploy Kubernetes Applications
      tags: [deploy_k8s_apps]
      import_tasks: tasks/deploy_k8s_apps/main.yaml

    - name: Deploy ClusterForge Platform
      tags: [deploy_clusterforge]
      import_tasks: tasks/deploy_clusterforge/main.yaml

  handlers:
    - name: Restart multipathd
      service:
        name: multipathd
        state: restarted

    - name: Create iptables directory
      ansible.builtin.file:
        path: /etc/iptables
        state: directory
        owner: root
        group: root
        mode: '0755'

    - name: Save iptables
      shell: iptables-save > /etc/iptables/rules.v4
      ignore_errors: yes

    - name: Set permissions on iptables rules file
      ansible.builtin.file:
        path: /etc/iptables/rules.v4
        owner: root
        group: root
        mode: '0644'

    - name: Reload udev
      shell: |
        udevadm control --reload-rules
        udevadm trigger

    - name: Restart chronyd
      service:
        name: chronyd
        state: restarted

    - name: Restart rsyslog
      service:
        name: rsyslog
        state: restarted
