---
# Ubuntu Version Validation Tasks
# 
# Purpose: Validates that the node is running a supported Ubuntu version
# Scope: Checks VERSION_ID in /etc/os-release against supported_ubuntu_versions list
#
# Parameters: None (uses global variables)
#
# Returns: Fails if Ubuntu version is not supported, succeeds if version is valid
#
# Usage:
#   include_tasks: tasks/validate_node/ubuntu_version.yml

- name: Get Ubuntu version
  shell: grep VERSION_ID /etc/os-release | cut -d= -f2 | tr -d '"'
  register: ubuntu_version
  changed_when: false

- name: Check if Ubuntu version is supported
  assert:
    that:
      - ubuntu_version.stdout in supported_ubuntu_versions
    fail_msg: "Ubuntu {{ ubuntu_version.stdout }} is not supported. Supported versions: {{ supported_ubuntu_versions | join(', ') }}"
    success_msg: "Running on supported Ubuntu {{ ubuntu_version.stdout }}"