---
# Create Bloom ConfigMap
# This task creates a central ConfigMap containing cluster configuration information
# that can be consumed by applications running in the Kubernetes cluster.

- name: Create Bloom ConfigMap
  when: FIRST_NODE
  block:
    - name: Get bloom version
      set_fact:
        bloom_version: "{{ BLOOM_VERSION | default('2.0.0') }}"

    - name: Create bloom config ConfigMap
      shell: |
        cat <<EOF | /var/lib/rancher/rke2/bin/kubectl --kubeconfig /etc/rancher/rke2/rke2.yaml apply -f -
        apiVersion: v1
        kind: ConfigMap
        metadata:
          name: bloom-config
          namespace: default
        data:
          version: "{{ bloom_version }}"
          gpu_node: "{{ GPU_NODE | lower }}"
          domain: "{{ DOMAIN }}"
          cluster_size: "{{ CLUSTER_SIZE }}"
          rke2_version: "{{ RKE2_VERSION }}"
        EOF